
<app-diary-form (newDiary)=saveDiary($event)></app-diary-form>


<div *ngFor='let diary of diaries; let i=index'>

    <p *ngIf='diary.votes==highest; else notHigh' appHighlight>
        {{diary.name}} ... {{diary.content}}</p>

    <ng-template #notHigh>
        {{diary.name}} ... {{diary.content}}
    </ng-template>
    <ul>
        <li>vote:{{diary.votes}}</li>
    </ul>
    
    <button (click)="voting(i)">like</button>
    <button (click)="devoting(i)">dislike</button>

    <button (click)="del(i)">delete</button>

  </div>

  